{% from 'bootstrap5/form.html' import render_field, render_form_row %}
{%  extends 'base.html' %}
{% block title %}{{heading}}{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container mt-4">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main.index' )}}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Seminar</li>
    </ol>
</nav>

<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="form-section">
            <!-- Information section -->
            <div class="text-center mb-5">
                <h1 class="fs-2 fw-bold mb-4">Edit your seminar</h1>
                <h5 class="mb-3">Change the information of an existing event that you have hosted and when you are ready, press 'Save Seminar' to update it.</h5>
                <small class="text-muted">Listings are subject to a review and approval process.</small>
            </div>
            <h2 class="mb-4">Create a New Seminar</h2>
            <!-- Form -->
            <form action="" method="post" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
                <!-- Title, category row -->
                {{ render_form_row([form.title, form.category], col_class_default='col-md-6')}}

                <!-- Description -->
                <div class="mb-3">
                    {{render_field(form.description)}}
                </div>

                <!-- Start date, start time row -->
                {{ render_form_row([form.start_date, form.start_time], col_class_default='col-md-6')}}

                <!-- End date, end time row -->
                {{ render_form_row([form.end_date, form.end_time], col_class_default='col-md-6')}}

                <!-- Location, capacity row -->
                {{ render_form_row([form.location, form.capacity], col_class_default='col-md-6')}}

                <!-- Speaker -->
                <div class="mb-3">
                    {{render_field(form.speaker)}}
                </div>

                <!-- Speaker bio -->
                <div class="mb-3">
                    {{render_field(form.speaker_bio)}}
                </div>

                
                <div class="mb-4">
                    <p class="mb-2">Current image</p>
                    <div class="mb-3 edit-img-container border rounded">
                        <img src="{{ event.image_url }}" alt="Current seminar image" class="edit-img">
                    </div>
                    {{render_field(form.image)}}
                    <div class="form-text">Upload a new seminar image. Max size 5MB.</div>
                </div>
                
                <div class="mb-5">
                    {{render_field(form.accept_toc)}}
                </div>
                
                <div class="d-grid gap-2 mb-4">
                    {{ form.submit(value='Save Seminar', class="btn btn-primary login-button btn-lg") }}
                    <a href="{{back}}" class=" mt-3 btn btn-danger btn-lg login-button">Cancel</a>
                </div>
            </form> 

            <!-- New event link -->
            <div class="text-center mt-5">
                <p class="">Want to create a new seminar instead? <a href="{{url_for('event.create')}}" type="button" class="text-accent">Create seminar</a></p>
            </div>

        </div>
    </div>
</div>
{% endblock %}

