{% extends '_profile_navigation.html' %}
{% set active_page =  'comments'%}
{% block title %}{{heading}}{% endblock %}

{% block profile_content %}
<!-- Page Content -->
<div class="container mt-4">

    <h2 class="mb-5">My Comments</h2>

    {% if comments|length > 0 %}
    {% for comment in comments %}
    <div class="my-5">
        <!-- From partial template -->
        {% include '_comment.html' %}
    </div>
    {% endfor %}
    {% else %}
    <div class="py-5">
        <h4 class="">You have not made any comments yet.</h4>
    </div>
    {% endif %}
</div>
{% endblock %}