{% extends 'base.html' %}
{% block title %}{{heading}}{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('main.index' )}}">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Seminars</li>
        </ol>
    </nav>

    <h2 class="mb-5">My Hosted Seminars</h2>

    {% if seminars|length > 0 %}
    {% for seminar in seminars %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-3">
                <img src="{{seminar.image_url}}" class="img-fluid rounded-start horizontal-card-img" alt="">
                <span class="position-absolute top-0 start-0 m-2"><span class="badge {% if seminar.category == 'Computer Science' %}bg-primary{% elif seminar.category == 'Business' %}bg-info{% elif seminar.category == 'Engineering' %}bg-warning{% elif seminar.category == 'Medicine' %}bg-success{% elif seminar.category == 'Social Sciences' %}bg-danger{% elif seminar.category == 'Other' %}bg-secondary{% endif %}">{{seminar.category}}</span></span>
            </div>
            <div class="col-md-5">
                <div class="card-body mt-lg-4">
                    <h5 class="card-title"><a href="{{url_for('event.event_details', event_id=seminar.id)}}" class="stretched-link text-decoration-none text-reset z-2">{{seminar.title}}</a></h5>
                    <p class="mb-1"><i class="bi bi-geo-alt me-2"></i>{{seminar.location}}</p>
                    <small class="text-muted"><i class="bi bi-calendar-event me-2"></i>{{seminar.start_dt.strftime("%B %d, %Y | %I:%m %p")}}</small>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center mt-lg-2 mb-3">
                <div class="d-flex flex-md-column flex-row flex-lg-row gap-2"> 
                    <a href="{{ url_for('event.edit_event', event_id=seminar.id )}}" class="btn btn-secondary text-nowrap z-1" role="button">Edit Seminar</a>
                    <a href="{{ url_for('event.cancel_event', event_id=seminar.id )}}"class="btn btn-danger text-nowrap z-1" role="button">Cancel Seminar</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}