{% extends 'base.html' %}
{% block title %}{{heading}}{% endblock title %}

{% block content %}
<!-- Page Content -->
<div class="container mt-4">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main.index' )}}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('main.index')}}">Profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Seminars</li>
    </ol>
</nav>

<h2 class="mb-5">My Hosted Seminars</h2>

{% if seminars|length > 0 %}
{% for seminar in seminars %}
<div class="list-group border border-2 rounded mb-2">
    <div class="d-flex w-100 justify-content-between align-items-center">
        <img src="{{seminar.image_url}}" class="ms-2 me-4 p-2 horizontal-card-img" alt="Seminar image">
        <h6 class="position-absolute top-0 start-1 pt-2 m-1"><span class="badge text-bg-success">Open</span></h6>
        <div class="me-auto">
            <h5 class="mb-1 fw-bold">{{seminar.title}}</h5>
            <p class="mb-1 fw-semibold">{{seminar.location}}</p>
            <small class="fw-semibold">{{seminar.start_dt.strftime("%d %B, %Y | %I:%m %p")}}</small>
        </div>
        <div class="d-flex flex-md-row flex-column align-items-end align-items-md-center gap-2 row-gap-2 me-3 me-md-5"> 
            <a href="#"class="btn btn-secondary text-nowrap" role="button">View Details</a>
            <a href="{{ url_for('user.edit_seminar', seminar_id=seminar.id )}}" class="btn btn-danger text-nowrap" role="button">Edit Seminar</a>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}