{% extends 'base.html' %}

{% block content %}
<!-- Page Content -->
<div class="container mt-5">
    <form method="GET" action="{{ url_for('main.search') }}" class="input-group mb-3" style="max-width: 1400px;">
        <input type="text" class="form-control form-control-lg" placeholder="Search seminars, speakers and venues..." name="search" value="{{ search_query }}">
        <button class="btn btn-primary" type="submit">
            <i class="bi bi-search"></i> SEARCH
        </button>
    </form>

    <h2 class="mb-3">Search results</h2>
    {% if page_results or seminar_results or comment_results or booking_results %}
    <h5 class="mb-5">Showing <span class="text-danger">{{page_results|length + seminar_results|length + comment_results|length + booking_results|length}}</span> results for: <span class="text-danger">"{{raw_query}}"</span></h5>

    {% if page_results %}
    <div class="my-5">
        <!-- Pages -->
        <h4 class="pb-2">Were you looking for one of these pages?</h4>
        <hr class="pb-1">

        {% for page in page_results %}
        <a href="{{url_for(page.link)}}" class="fs-5">{{page.name}}</a>
        {% endfor %}
    </div>
    {% endif %}

    {% if seminar_results %}
    <div class="my-5">
        <!-- Seminars -->
        <h4 class="">Seminars</h4>
        <hr class="pb-1">

        {% for seminar in seminar_results %}
        <a href="{{url_for('event.event_details', event_id = seminar.id)}}" class="text-decoration-none text-reset">
            <div class="card mb-3 search-card">
                <div class="row g-0">
                    <div class="col-md-3 me-2">
                        <img src="{{seminar.image_url}}" class="img-fluid h-100 rounded-start search-card-img" alt="">
                        <span class="position-absolute top-0 start-0 m-2"><span class="badge bg-{{ 'primary' if seminar.category == 'Computer Science' else 'info' if seminar.category == 'Business' else 'warning' if seminar.category == 'Engineering' else 'success' if seminar.category == 'Medicine' else 'danger' if seminar.category == 'Social Sciences' else 'secondary'}}">{{seminar.category}}</span></span>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                                {% set badge_class = {'Open':'success','Inactive':'secondary','Sold Out':'danger','Cancelled':'dark'}.get(seminar.status, 'secondary') %}
                                <div class="d-flex align-items-baseline">
                                    <h5 class="card-title">{{seminar.title}}</h5>
                                    <span class="ms-2 badge bg-{{badge_class}} small">{{ seminar.status }}</span>
                                </div>
                            <p class="mb-1"><i class="bi bi-geo-alt me-2"></i>{{seminar.location}}</p>
                            <small class="text-muted"><i class="bi bi-calendar-event me-2"></i>{{seminar.start_dt.strftime("%B %d, %Y | %I:%M %p")}} - {{seminar.end_dt.strftime("%I:%M %p")}}</small>
                            <p class="card-text mt-2">{{seminar.description}}</p>
                        </div>
                    </div>
                </div>
            </div> 
        </a>
        {% endfor %}
    </div>
    {% endif %}

    {% if comment_results %}
    <div class="my-5">
        <!-- Comments -->
        <h4 class="">Comments</h4>
        <hr class="pb-1">

        {% for comment in comment_results %}
        <a href="{{url_for('event.event_details', event_id=comment.event_id)}}" class="text-decoration-none text-reset">
        <div class="comment search-comment mb-4 bg-white rounded shadow-sm p-3">
            <div class="d-flex justify-content-between">
                <h6 class="ms-1">{{comment.user.first_name}} {{comment.user.last_name}}</h6>
                <small class="text-muted me-2">{{comment.created_at.strftime("%B %d, %Y, %I:%M %p")}}</small>
            </div>
            <p class="ms-1">{{comment.text}}</p>
        </div>
        </a>
        {% endfor %}
    </div>
    {% endif %}

    {% if booking_results %}
    <div class="my-5">
        <!-- Booking -->
        <h4 class="">Bookings</h4>
        <hr class="pb-1">

        {% for booking in booking_results %}
        <a href="{{url_for('booking.booking')}}" class="text-decoration-none text-reset">
            <div class="card booking-card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">{{booking.event.title}}</h5>
                        <span class="badge bg-success py-2">{{booking.status}}</span>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">Booking #{{booking.booking_number}}</h6>
                    <p class=""><i class="bi bi-calendar-event me-2"></i>{{booking.event.start_dt.strftime("%d %B, %Y | %I:%M %p")}}</p>
                    <p class=""><i class="bi bi-geo-alt me-2"></i>{{booking.event.location}}</p>
                    <p class=""><i class="bi bi-ticket-perforated me-2"></i>{{booking.quantity}} tickets</p>
                    <small class="text-muted">Booked on: {{booking.booking_date.strftime("%d %B, %Y, %I:%M %p")}}</small>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endif %}

    {% else %}
    <p class="mb-5">No results found.</p>
    {% endif %}
    
</div>
{% endblock %}