<!-- Uncomment this when base.html has been created and add back in %% -->
<!-- {  extends 'base.html' } -->
<!-- {% block title %}{{heading}}{% endblock title %} -->

<!-- Remove below until section when base.html has been created -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SeminarHub - {{heading}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/stylesheet.css') }}">
</head>
<body>
  
  <header>
      <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
      <a class="navbar-brand fw-bold" href="index.html">
        <i class="bi bi-mortarboard-fill me-2"></i>SeminarHub
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="create.html">Create Seminar</a></li>
          <li class="nav-item"><a class="nav-link" href="bookings.html">My Bookings</a></li>
        </ul>
        <div class="d-flex">
          <a href="login.html" class="btn btn-outline-light me-2">Login</a>

        </div>
      </div>
    </div>
  </nav>
  </header>


<!-- Uncomment this when base.html has been created and add back in %% -->
<!-- { block content } -->

<main>
<section class="min-vh-100 login-background bg-gradient pt-5">
    <div class="container pt-5">
        <div class="row justify-content-center p-2 p-md-0">
            <div class="col-12 col-md-10 col-lg-8 p-3 p-md-5 mx-md-4 rounded form-container mb-5">
                <!-- Title and logo -->
                <div class="text-center mb-5">
                    <h1><i class="bi bi-mortarboard-fill me-2"></i></h1>
                    <h4 class="">{{logo_message}}<span class="text-accent"> SeminarHub</span></h4>
                </div>

                {% block auth_form_content %}
                {% endblock %}
                
                <!-- Divider -->
                <div class="hr-sect my-5 mx-auto login-form"><Small>Or {% if heading|lower == 'login' %}Login{% elif heading|lower == 'sign up' %}Sign up{% endif %} with</Small></div>

                <!-- Alternate login methods -->
                <div class="d-flex align-items-center justify-content-between px-4 mb-5 mx-auto login-form">
                    <a href="" class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#333" class="bi bi-google alternate-login-method" viewBox="0 0 16 16">
                        <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
                        </svg>
                    </a>
                    <a href="" class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#333" class="bi bi-facebook alternate-login-method" viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
                        </svg>
                    </a>
                    <a href="" class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#333" class="bi bi-apple alternate-login-method" viewBox="0 0 16 16">
                        <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282"/>
                        <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282"/>
                        </svg>
                    </a>
                </div>

                <!-- Create account / Login links -->
                {% if heading|lower =='login' %}
                <div class="text-center pt-3">
                    <p class="mb-0 me-2">Don't have an account? <a href="{{url_for('auth.signup')}}" type="button" class="text-accent">Create one now</a></p>
                </div>
                {% elif heading|lower == 'sign up' %}
                <div class="text-center pt-3">
                    <p class="mb-0 me-2">Already have an account? <a href="{{url_for('auth.login')}}" type="button" class="text-accent">Log in here</a></p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
</main>
<!-- Uncomment this when base.html has been created and add back in %% -->
<!-- { endblock } -->

<!-- Remove below when base.html has been created -->
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>