<!-- 
Partial comment template for use in the 'search' template as well as the 'my_comments' template.
-->

<div class="comment search-comment mb-4 bg-white rounded shadow-sm p-3">
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <h6 class="ms-1">{{comment.user.first_name}} {{comment.user.last_name}}</h6>
        <a href="{{url_for('event.event_details', event_id=comment.event_id)}}" class="text-decoration-none text-reset stretched-link">
            <small class="text-muted me-2">{{comment.created_at.strftime("%B %d, %Y, %I:%M %p")}}</small>
        </a>
    </div>
    <p class="ms-1">{{comment.text}}</p>
</div>