<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{{ url_for('main.index') }}">
            <i class="bi bi-mortarboard-fill me-2"></i>SeminarHub
        </a>

        {% if current_user.is_authenticated %}
        <!-- Non-collapsing account dropdown. Moves to end of nav bar on large screens and above. -->
        <div class="ms-auto order-lg-last text-end">
            <div class="dropdown pe-3">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                </a>
                <!-- Displays users name if logged in -->
                <small class="d-block text-center text-muted">Welcome, <br> {{ current_user.first_name }}</small>
                <ul class="dropdown-menu dropdown-menu-end text-small">
                    <li class="">
                        <a href="#" class="dropdown-item">Profile</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a href="#" class="dropdown-item mt-2">Hosted Seminars</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a href="{{url_for('auth.logout')}}" class="dropdown-item">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('main.create')}}">Create Seminar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('main.booking')}}">My Bookings</a>
                </li>
            </ul>
            {% if current_user.is_authenticated %}
            <div class="d-none">
                <a href="{{url_for('auth.login')}}" class="btn btn-outline-light me-2">Login</a>
                <a href="{{url_for('auth.signup')}}" class="btn btn-light">Register</a>
            </div>
            {% else %}
            <div class="d-flex">
                <a href="{{url_for('auth.login')}}" class="btn btn-outline-light me-2">Login</a>
                <a href="{{url_for('auth.signup')}}" class="btn btn-light">Register</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>